.parent{
    background-color: aqua;

    .child {
        background-color: brown;
    }
    /* & div{
        background-color: aquamarine;
        & div{
            background-color: bisque;
        }
    } */
}