.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 1em 20px;
    background-color: #fff4e6;
}

.wrapper > div{
    background-color: #ffd8a8;
    color: #d9480f;
}

.box1 {
    grid-column: 1;
    grid-row: 1 / span 3;
}

.box2 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.box3 {
    grid-column: 2;
    grid-row: 1;
}

.box4 {
    grid-column: 2 / span 2;
    grid-row: 3;
}