.container {
    display: inline-grid;
    /* col/row */
    grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
    background-color: lightblue; 
}

/* .container {
    display: inline-grid;
    grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
    background-color: lightblue; 
    grid-template-areas:
      "living-room living-room living-room living-room living-room"
      "living-room living-room living-room living-room living-room"
      "bedroom bedroom bathroom kitchen kitchen"
      "bedroom bedroom bathroom kitchen kitchen"
      "closet closet bathroom kitchen kitchen"    
} */
  
.room {
    border: 1px solid;
    font-size: 50%;
    text-align: center;
}

#living-room {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    /* grid-area: living-room; */
}

#kitchen{
    grid-column:4 / 6 ;
    grid-row-start: 3;
    grid-row-end: 6;
}

#bedroom{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

#closet{
    grid-column-start: 2;
    grid-column-end: 4;
}

#bathroom{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end:6 ;
}
